:root {
    /* Color Palette */
    --primaryGray: #323232;
    --secondaryGray: #dcd8d9;
    --primaryPink: #eeb8b9;
    --secondaryPink: #ffe3e3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--primaryGray);
    font-family: Arial, Times, serif;
    color: var(--secondaryPink);
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 5px;
    color: var(--primaryPink);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: var(--secondaryGray);
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}

/* Main Title */
.main-title {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
        url('/img/the-greatest-showman-backdrop.jpg');
    height: 450px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-title .title {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}

.main-title .description {
    margin-top: 10px;
    margin-bottom: 40px;
}

.button {
    background-color: rgba(0, 0, 0, 0.55);
    border: none;
    color: var(--primaryPink);
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: 0.3s ease all;
}

.button:hover {
    background-color: var(--primaryPink);
    color: var(--primaryGray);
}

.button i {
    margin-right: 8px;
}

.container {
    margin-left: 20px;
}

.main-title .container {
    max-width: 70%;
}

.box-movie {
    height: 100%;
    width: 100%;
    display: block;
}

.carousel-movies {
    margin-top: 5px;
}
